.c-top{
    width: 1196px;
    height: 50px;
    line-height: 50px;
    float: left;
    background: #f0f0f0;
    li{
        margin-right: 200px;
        float: left;
        span{
            font-size: 16px;
        }
    }
    .li1{margin-right: 170px;}
    .li3{margin-left: 175px;}
}
.c-bom>li{
    font-size: 14px;
    width: 100%;
    float: left;
    ul{
        height: 100px;
        // background: #f0f0f0;
        margin-top: 15px;
        line-height: 100px;
        li{
            // width:250px;
            overflow: hidden;
            float: left;
            // margin-left: 100px;
        }
        .check{
            width: 50px;
            height: 100%;
            text-align: center;
        }
        .liimg{
            width: 100px;
            height: 100%;
        }
        .liname{
            width: 100px;
            height: 100%;
            overflow: hidden;
            margin-left: 100px;
        }
        .liprice{
            width: 100px;
            height: 100%;
            margin-left: 70px;
            text-align: center;
        }
        .libtn{
            margin-left: 100px;
            input{
                width: 50px;
                text-align: center;
            }
            button{
                width: 20px;
            }
        }
        .price{
            padding-left: 100px;
            width: 180px;
            height: 100%;
            text-align: center;
        }
        .del{           
            display: inline-block;
            width: 100px;
            height: 40px;
            border: 1px solid #ccc;
            text-align: center;
            line-height: 40px;
            background: #2884c7;
            color: #ffffff;
            opacity: .9;
            border-radius: 5px;
            margin-left: 30px;
            cursor: pointer;
        }
    }
}
.car-aside{
    float: left;
    height: 50px;
    width: 100%;
    background: #f0f0f0;
    margin-top: 90px;
    font-size: 16px;
    line-height: 50px;
    li{
        
        float: left;
    }
    .aside1{
        margin-left: 500px;
        span{
            display: inline-block;
            width: 80px;
            text-align: center;
        }
    }
    .allpriceli{
        margin-left: 100px;
        width: 200px;
        height: 100%;
        span{
            height: 100%;
            display: inline-block;
            width: 80px;
            text-align: center;
        }
    }
    .settle{
        margin-top: 5px;
        width: 100px;
        height: 40px;
        background: #2884c7;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
    }
}